@{
    ViewData["Title"] = "Заказ оформлен";
}

<div class="container my-5 text-center">
    <h2 class="mb-4 text-success">Спасибо за покупку!</h2>
    <p class="lead">Ваш заказ успешно оплачен и оформлен. Ожидайте получения напитков из автомата 😊</p>

    <a href="/" class="btn btn-primary mt-4">Вернуться в каталог</a>
</div>
