@{
    ViewData["Title"] = "Успешная оплата";
}

<div class="container my-5 text-center">
    <h1 class="mb-4 text-success">Оплата прошла успешно! 🎉</h1>
    <p class="fs-4 mb-5">Спасибо за ваш заказ!</p>

    <a href="@Url.Action("Index", "Catalog")" class="btn btn-primary btn-lg">Вернуться в каталог</a>
</div>
